@{
    ViewBag.Title = "Home";
}

<div id="slides-shop" class="cover-slides">
    <ul class="slides-container">
        <li class="text-center">
            <img src="~/Content/images/banner-1.png" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>WELCOME TO <br /> PUP MycoNema Bank</strong></h1>
                        <p class="m-b-40" style="font-size:28pt;">Search. Register. Learn.</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/images/logos/logo-banner.png" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>WELCOME TO<br> PUP MycoNema Bank</strong></h1>
                        <p class="m-b-40" style="font-size:28pt;">Search. Register. Learn.</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/images/banner-2.png" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>FUNGAL and NEMADOTE<br />NAME SEARCH</strong></h1>
                        <p class="m-b-40" style="font-size:16pt;">MycoNema Bank provides a wide collection of information of different fungi and parasitic nematodes.<br />Search for names of present in MycoNema Bank.</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/images/banner-3.png" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>NEW NAME REGISTRATION</strong></h1>
                        <p class="m-b-40" style="font-size:16pt;">Deposit a new fungal or nematode name in the MycoNema Bank.</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="text-center">
            <img src="~/Content/images/banner-4.png" alt="">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="m-b-20"><strong>The MycoNema Project</strong></h1>
                        <p class="m-b-40" style="font-size:16pt;">The MycoNema Project is a DARE-TO grant from the Commission on Higher Education (CHED) which aims to <br> assess the fungal pathogens and parasitic nematodes that can cause diseases in selected fruits of the Philippines.</p>
                    </div>
                </div>
            </div>
        </li>
    </ul>
    <div class="slides-navigation">
        <a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
        <a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
    </div>
</div>
<div class="container">
    <div class="row my-5">
        <div class="col-sm-6 col-lg-4">
            <div class="service-block-inner">
                <h3>NAME SEARCH</h3>
                <p>Search from our knowledge-base various data about the fungal pathogens and parasitic nematodes in the Philippines.</p>
                <br />
                <p><a class="btn hvr-hover" href="#">Find out More</a></p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="service-block-inner">
                <h3>REGISTRATION</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <br />
                <p><a class="btn hvr-hover" href="#">Find out More</a></p>
            </div>
        </div>
        <div class="col-sm-6 col-lg-4">
            <div class="service-block-inner">
                <h3>ABOUT MYCONEMA PROJECT</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                <br />
                <p><a class="btn hvr-hover" href="#">Find out More</a></p>
            </div>
        </div>
    </div>
</div>